<nav class="navbar navbar-expand-lg bg-body-tertiary position-relative">
  <div class="container-fluid">
    <img src="{{ url_for('static', path='images/speed.png')}}" alt="Blog Logo"
         width="30" height="24" class="mx-4">

    <a class="navbar-brand mx-auto position-absolute start-50 translate-middle-x" href="/">
      Blog Application
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        {% if request.cookies.get("access_token") %}
          <li class="nav-item">
            <a class="nav-link" href="/create">Create Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/auth/logout">Logout</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link active" href="/auth/login">Sign in</a>
          </li>
        {% endif %}
      </ul>      
    </div>
  </div>
</nav>
